.customer{
    width:75%;
    height: 333px !important;
    background-color: #E3E3E3;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
   
}

.customer__backward, .customer__forward{
    color: rgba(255, 255, 255, 0.808);
    width: 50px;
    height: 100px;
}

.customer__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-start;
}
/* 
.customer__avatar_container{} */


.customer__avatar{
    width:185px !important;
    height:185px !important;
    padding-left: 30px;
}

.customer__content{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.customer__year{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: 400;
    color: #29385cb9;
}

.customer__text{
    font-size: 18px;
    text-align:left;
    color: #29385C;
    margin-bottom: 30px;
}



.customer__name{
    color: #29385C;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 20px;
}


@media only screen and ( max-width:900px ){
    .customer{
        display: flex;
        flex-direction: column;   
        height: auto !important;   
    }

    .customer__backward, .customer__forward{
        display: none;

    }
    .customer__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto !important;
    }

    .customer__avatar  {
        padding-top: 50px;
        width:150px !important; 
        height:150px !important;
    }

    .customer__text{
        font-size: 18px;
        text-align: center;
        color: #29385C;
        margin: 10px 0;
        overflow: hidden !important; 
        text-overflow: ellipsis !important;
        display: -webkit-box !important;
        -webkit-line-clamp: 7 !important; /* number of lines to show */
        -webkit-box-orient: vertical !important;
    }
}